<div class="instore_button">
    <div class="mb-2">{{@root.paymentConfig.instore.description}}</div>
    <button id="checkoutInstore" class="btn btn-outline-success" type="submit">Complete Kit!</button>
</div>